    <div class="content_margin_left_right">
        <p><strong><span>User Agreement</span></strong></p>
        <p><strong><span>THE GRIHAM MARINE SERVICES ONLINE USER AGREEMENT:</span></strong></p>
        <p><strong><span>PLEASE READ THIS AGREEMENT CAREFULLY. BY ACCESSING,
            USING, OR DOWNLOADING INFORMATION FROM THIS SITE YOU AGREE TO ABIDE BY THE
            TERMS AND CONDITIONS OF THIS USER AGREEMENT (&quot;Agreement&quot;) BETWEEN YOU
            AND G SHIPPING. IF YOU DO NOT WISH TO BE BOUND BY THIS AGREEMENT, DO NOT USE
            THE WEB SITE OR SERVICE.
        </span></strong></p>
        <p><strong><span>1.</span></strong>
            <strong><span>GENERAL INFORMATION.</span></strong><br />
        </p>
        <p><strong><span>1.1</span></strong><span>The Web Site and Service are provided by</span>
            <strong>GRIHAM MARINE SERVICES</strong>
            <span>GRIHAM CONSULTANT. Your access and use of this Web Site and/or Service is expressly conditioned upon your  agreement that all access and use will be governed by all of the terms and conditions in this Agreement, in their current form, or as modified. GRIHAM reserves the right, at its discretion, to amend or change the terms of this
            Agreement and/or change, suspend, discontinue or modify any aspect of the Web Site and Service at any time, without notice to you. Such modifications may include, without limitation, changes in content, in user priorities, and
            discontinuance of functional aspects of the Web Site.</span><br />
        </p>
        <p><strong><span>1.2</span></strong>
        <span>Any notice or statement of changes/modifications described above will be displayed online, and such display shall constitute effective notice under this Agreement. Therefore, you must consult the most recent version of this Agreement (and not an older cached version) each time you visit the Web Site or use the Service. Your access or use of the Web Site and/or Services after the posting of any change in the terms and conditions of this Agreement shall constitute your acceptance to be bound by any such changes.</span><br />
        </p>
    
        <p><strong><span>2. THE SERVICE AREA.</span></strong><br /></p>

        <p><strong><span style="color: black">2.1</span></strong><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">&nbsp;</span><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">The &quot;Service Area&quot; shall mean all areas
and aspects of the Web Site and Service including, without limitation, text,
data, photos, images, graphics, mobi, mobiapps, videos, video conferencing,
resumes, or any information obtained through the Web Site (collectively
referred to herein as &quot;Information&quot;), GRIHAM'S computers or network
and any subscription, product, service, resume referral, or information
provided by GRIHAM. Statements made on the Web Site concerning the products or
services of GRIHAM do not constitute an offer, but are merely solicitations of
an offer.</span><br />
</p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">2.2</span></strong><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">&nbsp;</span><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">As a convenience to you, GRIHAM may provide, on
this Web Site, links to third party web sites operated by other entities,
including sites of certain employers, sponsors and advertisers of products and
services (&quot;Advertisers&quot;). If you use these sites, you will leave this
Web Site. If you decide to visit any linked site, you do so at your own risk
and it is your responsibility to take all protective measures to guard against
viruses or other destructive elements. GRIHAM makes no warranty or
representation regarding, and does not endorse, any linked web sites or the
information appearing thereon or any of the products or services described
thereon. Links do not imply that GRIHAM or this Web Site sponsors, endorses, is
affiliated or associated with, or is legally authorized to use any trademark,
trade name, logo or copyright symbol displayed in or accessible through the
links, or that any linked site is authorized to use any trademark, trade name,
logo or copyright symbol of GRIHAM or any of its affiliates, or subsidiaries. GRIHAM
shall not be held liable, directly or indirectly, for any loss or damage caused
by your use of: any external site linked to the Web Site, or the products or
services displayed on such linked sites.</span><br />
</p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">3. USE OF THE WEB SITE AND SERVICE.</span></strong><br />
</p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">3.1 Copyright, Patent and Trademark Notice.</span></strong><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">&nbsp;</span><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">Unless otherwise
noted, all content of the Web Site, including but not limited to, all text,
photos, images, graphics, audio, software, and/or video are the valuable,
exclusive property of GRIHAM or its licensors and nothing in this Agreement may
be construed as transferring or assigning any such ownership rights to you or
any other person or entity. ©2009 Gshipping.in. All rights reserved.</span><br />
</p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><span style="color: black">Except as permitted in this Agreement, no portion
of the content may be directly or indirectly copied, published, reproduced,
modified, performed, displayed, sold, transmitted, published, broadcast,
rewritten for broadcast or publication, commercially exploited or redistributed
in any medium without GRIHAM's prior written consent. Nor may any portion of
the content be stored in a computer or distributed over any network except that
you may download or print one copy of occasional web pages strictly for
personal and non-commercial use.</span></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><span style="color: black">GRIHAM, and its associated logos, page headers,
custom graphics, buttons, and other icons are service marks, trademarks,
registered service marks, and/or registered trademarks of GRIHAM. All other
product names and company logos mentioned herein are trademarks of their
respective owners. Neither these materials nor any portion thereof may be
stored in a computer except as reasonably necessary for personal and non-commercial
use.</span></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">3.2 License Grant - Individuals.</span></strong><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">&nbsp;</span><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">If you are an
individual seeking employment, GRIHAM hereby grants you a limited,
non-exclusive, revocable and non-transferable license to access and use the Web
Site and the Service only for your personal, non-commercial use. You may
download, view, copy, and print the material on the Web Site solely for such
personal use. You agree that you are responsible for any Content you post on
the Web Site. GRIHAM reserves the right to terminate your access or use of the
Web Site and Service if GRIHAM determines, in its sole discretion, that you are
in breach of this Agreement.</span><br />
</p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">3.3 License Grant - Employers.</span></strong><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">&nbsp;</span><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">If you are an
employer seeking candidates for employment that has purchased a subscription, GRIHAM
hereby grants you a limited, non-exclusive, revocable and non-transferable
license to access and use the Web Site, the Service and the Subscriber's Area
only for your internal business use. You may download, view, copy, and print
the material on the Web Site solely for such internal business use. You agree
that you are responsible for any Content you post on the Web Site. GRIHAM
reserves the right to terminate your access or use of the Web Site, Service and
Subscriber's Area if GRIHAM determines, in its sole discretion, that you are in
breach of this Agreement.</span><br />
</p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">3.4 Restricted Use of the Site.</span></strong><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">&nbsp;</span><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">You agree to use
the Web Site, Service Area and Information for lawful purposes only. You agree
not to post or transmit any information through the Service Area which (1)
infringes the rights of others or violates their privacy or publicity rights,
(2) is unlawful, threatening, abusive, defamatory, libelous, vulgar, obscene,
profane, indecent or otherwise objectionable, or (3) is protected by patent,
copyright, trademark or other proprietary right without the express permission
of the owner of such right. You shall be solely liable for any damages
resulting from any infringement of patent, copyright, trademark or other
proprietary right, or any other harm resulting from your use of the Service.
You may not interrupt or attempt to interrupt the operation of the Web Site or
the Service, attempt to modify any posted material, or attempt to defeat or
circumvent our security features in any way.</span><br />
</p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">3.5 Your Submission of Resumes and Messages.</span></strong><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">&nbsp;</span><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">You hereby grant
to GRIHAM a worldwide, royalty-free, perpetual, irrevocable, non-exclusive
right and license to use, reproduce, modify, adapt, publish, translate, create
derivative works from, distribute, perform, display and use for any purpose all
messages, job descriptions, and/or resumes posted by you on the Web Site,
Service and/or any e-mail or other materials or information sent by you to GRIHAM
(in whole or in part) and to incorporate any such materials, information,
messages or e-mails in any form, media or technology now known or later
developed. You additionally grant GRIHAM a worldwide, royalty-free, perpetual,
irrevocable, non-exclusive right and license to disclose your resume, including
any personally identifying information contained therein, to potential
employers.</span><br />
</p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">3.6 Public messages.</span></strong><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">&nbsp;</span><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">Any and all
electronic forums made available to users of the Service are the sole property
of GRIHAM and are not a public forum. You understand and acknowledge that all
information, data, software, music, sound, photographs, graphics, video,
messages or other materials posted by any person or entity other than GRIHAM,
including individual resumes and job descriptions (&quot;Content&quot;),
whether publicly posted or privately transmitted, are the sole responsibility
of the person from whom such Content originated. You are solely responsible for
and assume any and all liability for all Content that you upload, post, email
or otherwise transmit via the Service. GRIHAM assumes no liability for any such
Content. You agree not to use the Service to:</span><br />
</p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><span style="text-indent: -18pt; font-size: 9pt; font-family: Arial, sans-serif; color: black">a.<span style="font-weight: normal; font-size: 7pt; font-family: 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span style="text-indent: -18pt; font-size: 9pt; font-family: Arial, sans-serif; color: black">upload, post, email or otherwise transmit any
Content that is offensive, unlawful, harmful, threatening, abusive, harassing,
tortious, defamatory, vulgar, obscene, libelous, invasive of another's privacy,
or hateful, or is racially, ethnically or otherwise objectionable;</span></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><span style="text-indent: -18pt; font-size: 9pt; font-family: Arial, sans-serif; color: black">b.<span style="font-weight: normal; font-size: 7pt; font-family: 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span style="text-indent: -18pt; font-size: 9pt; font-family: Arial, sans-serif; color: black">impersonate any person or entity, including, but
not limited to, an official or representative of GRIHAM, or falsely state or
otherwise misrepresent your affiliation with a person or entity;</span></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><span style="text-indent: -18pt; font-size: 9pt; font-family: Arial, sans-serif; color: black">c.<span style="font-weight: normal; font-size: 7pt; font-family: 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span style="text-indent: -18pt; font-size: 9pt; font-family: Arial, sans-serif; color: black">forge headers or otherwise manipulate identifiers
to disguise the origin of any Content transmitted through the Service;</span></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><span style="text-indent: -18pt; font-size: 9pt; font-family: Arial, sans-serif; color: black">d.<span style="font-weight: normal; font-size: 7pt; font-family: 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span style="text-indent: -18pt; font-size: 9pt; font-family: Arial, sans-serif; color: black">upload, post, email or otherwise transmit any
Content that you do not have a right to transmit under any law or under contractual
or fiduciary relationships (such as inside information, proprietary and
confidential information learned or disclosed as part of employment
relationships or under nondisclosure agreements);</span></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><span style="text-indent: -18pt; font-size: 9pt; font-family: Arial, sans-serif; color: black">e.<span style="font-weight: normal; font-size: 7pt; font-family: 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span style="text-indent: -18pt; font-size: 9pt; font-family: Arial, sans-serif; color: black">upload, post, email or otherwise transmit any
Content that infringes any patent, trademark, trade secret, copyright or other
proprietary rights of any party;</span></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><span style="text-indent: -18pt; font-size: 9pt; font-family: Arial, sans-serif; color: black">f.<span style="font-weight: normal; font-size: 7pt; font-family: 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span style="text-indent: -18pt; font-size: 9pt; font-family: Arial, sans-serif; color: black">upload, post, email or otherwise transmit any
unsolicited or unauthorized advertising, promotional materials, &quot;junk
mail,&quot; &quot;spam,&quot; &quot;chain letters,&quot; &quot;pyramid
schemes,&quot; or any other form of solicitation;&nbsp;</span></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><span style="text-indent: -18pt; font-size: 9pt; font-family: Arial, sans-serif; color: black">g.<span style="font-weight: normal; font-size: 7pt; font-family: 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span style="text-indent: -18pt; font-size: 9pt; font-family: Arial, sans-serif; color: black">upload, post, email or otherwise transmit any
material that contains software viruses or any other computer code, files or
programs designed to interrupt, destroy or limit the functionality of any
computer software or hardware or telecommunications equipment;</span></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><span style="text-indent: -18pt; font-size: 9pt; font-family: Arial, sans-serif; color: black">h.<span style="font-weight: normal; font-size: 7pt; font-family: 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span style="text-indent: -18pt; font-size: 9pt; font-family: Arial, sans-serif; color: black">upload, post, e-mail or otherwise transmit any
material that contains restricted or password only access pages or hidden
images or pages;</span></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><span style="text-indent: -18pt; font-size: 9pt; font-family: Arial, sans-serif; color: black">i.<span style="font-weight: normal; font-size: 7pt; font-family: 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span style="text-indent: -18pt; font-size: 9pt; font-family: Arial, sans-serif; color: black">interfere with or disrupt the Service or servers or
networks connected to the Service, or disobey any requirements, procedures,
policies or regulations of networks connected to the Service;&nbsp;</span></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><span style="text-indent: -18pt; font-size: 9pt; font-family: Arial, sans-serif; color: black">j.<span style="font-weight: normal; font-size: 7pt; font-family: 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span style="text-indent: -18pt; font-size: 9pt; font-family: Arial, sans-serif; color: black">harass, incites harassment or advocates harassment
of another; or</span></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><span style="text-indent: -18pt; font-size: 9pt; font-family: Arial, sans-serif; color: black">k.<span style="font-weight: normal; font-size: 7pt; font-family: 'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span style="text-indent: -18pt; font-size: 9pt; font-family: Arial, sans-serif; color: black">solicit, collect or store passwords or personally
identifying information, other than resumes of prospective employees or
contractors, about other users.</span></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><span style="color: black">You acknowledge and agree that GRIHAM may, but does
not have the obligation to, screen or monitor Content, and that GRIHAM and its
designees shall have the right (but not the obligation) in its sole discretion
to refuse or remove any Content that is available via the Service. Without
limiting the foregoing, GRIHAM and its designees shall have the right to remove
any Content that violates this Agreement or is otherwise objectionable. You
agree that you must evaluate, and bear all risks associated with, the use of
any Content, including any reliance on the accuracy, completeness, or
usefulness of such Content.</span></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><span style="color: black">You acknowledge and agree that GRIHAM may preserve
Content and may also disclose Content if required to do so by law or in the
good faith belief that such preservation or disclosure is reasonably necessary
to: (a) comply with legal process; (b) enforce the Agreement; (c) respond to
claims that any Content violates the rights of third-parties; or (d) protect
the rights, property, or personal safety of GRIHAM, its users, or the public.</span></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">3.7 Linking.</span></strong><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">&nbsp;</span><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">Without the prior written consent of GRIHAM, you
may not use any of GRIHAM's proprietary logos, marks, or other distinctive
graphics, video, or audio material in your links. You may link only to the home
page of Gshipping.in unless otherwise agreed to in writing by GRIHAM. You may
not link in any manner reasonably likely to 1) imply affiliation with or
endorsement or sponsorship by GRIHAM; 2) cause confusion, mistake, or
deception; 3) dilute GRIHAM's trademarks or service marks; or 4) otherwise
violate state or federal law.</span><br />
</p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">4. ACCESS AND DELAYS IN SERVICES.</span></strong><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">&nbsp;</span><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">GRIHAM shall have
no responsibility to provide you access to the Web Site. Further, GRIHAM its
licensors or Advertisers shall not be liable to you for any loss or liability
resulting, directly or indirectly, from delays, inaccuracies, errors, omissions
or interruptions of the Service for any reason, including, without limitation,
due to electronic or mechanical equipment failures, telephone interconnect
problems, defects, weather, strikes, walkouts, fire, acts of God, riots, armed
conflicts, acts of war, acts of terrorism, or to other like causes.</span><br />
</p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">5. MONITORING OF SITE.</span></strong><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">&nbsp;</span><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">You acknowledge
that GRIHAM reserves the right to, and may from time to time, monitor any and
all Content transmitted or received through the Service. During monitoring,
information may be examined, recorded, copied, and used for authorized
purposes. All Content, including personal information, placed on or sent over
the Service may be monitored. Use of the Service, authorized or unauthorized,
constitutes consent to such monitoring.</span><br />
</p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">6. REPRESENTATIONS, WARRANTIES AND LIMITATION OF
LIABILITY.</span></strong><br />
</p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">6.1 General Disclaimer and Limited Warranty.</span></strong><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">&nbsp;</span><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">You acknowledge
that certain aspects of the Information and/or links provided through the Web
Site are compiled from sources that are beyond the control of GRIHAM. Though such
Information and links are recognized by the parties to be generally reliable,
the parties acknowledge that inaccuracies may occur. GRIHAM and its licensors
and Advertisers do not warrant the accuracy or suitability of such Information.
Neither GRIHAM nor its licensors or Advertisers represent or endorse the
accuracy or reliability of the Information distributed through the Service.</span><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">&nbsp;</span><strong><span style="color: black">FOR THIS REASON,
YOU ACKNOWLEDGE THAT THE WEB SITE AND SERVICE ARE PROVIDED TO YOU ON AN
&quot;AS IS&quot; BASIS WITH ALL FAULTS. GRIHAM AND ITS LICENSORS AND
ADVERTISERS EXPRESSLY DISCLAIM ANY AND ALL WARRANTIES, WHETHER EXPRESS, ORAL,
IMPLIED, STATUTORY OR OTHERWISE, INCLUDING, BUT NOT LIMITED TO, THE ACCURACY,
COMPLETENESS, CORRECTNESS OR USEFULNESS OR ANY INFOMRATION PROVIDED ON THE
WEBSITE, ANY IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
PURPOSE, TITLE, NON-INFRINGEMENT, OR ANY WARRANTIES ARISING BY VIRTUE OF CUSTOM
OF TRADE OR COURSE OF DEALING. FURTHER, GRIHAM AND ITS LICENSORS AND
ADVERTISERS NEITHER REPRESENT NOR WARRANT THAT THE WEB SITE AND SERVICE WILL
MEET YOUR REQUIREMENTS OR ARE SUITABLE FOR YOUR NEEDS.</span></strong><br />
</p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">
&nbsp;</span></strong><strong><span style="color: black">6.2</span></strong><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">&nbsp;</span><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">You assume all risk of errors and/or omissions in
the Web Site, including the transmission or translation of data. You assume
full responsibility for implementing sufficient procedures and checks to
satisfy your requirements for the accuracy and suitability of the Web Site,
including the Information, and for maintaining any means, which you may require
for the reconstruction of lost data or subsequent manipulations or analyses of
the Information provided under this Agreement.</span></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">
&nbsp;</span></strong><strong><span style="color: black">6.3 Viruses. YOU HEREBY ASSUME ALL RESPONSIBILITY
(AND THEREBY HOLD GRIHAM HARMLESS), BY WHATEVER MEANS YOU DEEM MOST APPROPRIATE
FOR YOUR NEEDS FOR DETECTING AND ERADICATING ANY VIRUS OR PROGRAM WITH A
SIMILAR FUNCTION.</span></strong></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">6.4 YOU AGREE THAT GRIHAM AND ITS LICENSORS AND
ADVERTISERS SHALL NOT IN ANY EVENT BE LIABLE FOR ANY SPECIAL, INCIDENTAL OR
CONSEQUENTIAL DAMAGES ARISING OUT OF THE USE OR INABILITY TO USE THE SERVICE
AND OR WEB SITE FOR ANY PURPOSE WHATSOEVER. IF THE ABOVE LIMITATIONS OF
LIABILITIES SHOULD FAIL IN THEIR ESSENTIAL PURPOSE FOR ANY REASON, SUCH
LIABILITY IS AND SHALL BE LIMITED TO A SUM EQUAL IN AMOUNT TO TEN (10%) PERCENT
OF THE SUMS PAID TO GRIHAM BY YOU UNDER THE TERMS OF THIS AGREEMENT OR $100.00,
WHICHEVER IS GREATER, AS LIQUIDATED DAMAGES AND NOT AS A PENALTY EVEN IF GRIHAM
OR ITS AFFILIATES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THIS
LIABILITY SHALL BE COMPLETE AND EXCLUSIVE.</span></strong><span style="color: black"></span></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">7. INDEMNIFICATION. YOU SHALL RELEASE, INDEMNIFY,
DEFEND AND HOLD HARMLESS GRIHAM AND ITS LICENSORS AND ADVERTISERS FROM AND
AGAINST ALL LOSS, DAMAGES, CLAIMS, DEMANDS, FINES, PENALTIES AND CAUSES OF
ACTIONS OF WHATEVER KIND OR CHARACTER, INCLUDING WITHOUT LIMITATION COSTS,
REASONABLE ATTORNEYS' FEES AND EXPENSES INCURRED IN CONNECTION WITH ANY CLAIM
BROUGHT BY PERSONS OR ENTITIES ARISING FROM OR RELATING TO THIS AGREEMENT OR
YOUR ACCESS AND USE OF THE WEB SITE OR SERVICE, INCLUDING YOUR USE OF THE INFORMATION
OBTAINED THROUGH THE WEB SITE OR SERVICE. THE RELEASE, DEFENSE AND INDEMNITY
OBLIGATIONS CONTAINED IN THIS SECTION 7 SHALL APPLY EVEN IF CAUSED, IN WHOLE OR
IN PART, BY THE JOINT, SOLE, OR CONCURRENT NEGLIGENCE, STRICT LIABILITY OR
OTHER FAULT, WHETHER PASSIVE OR ACTIVE, OF ANY PERSON OR ENTITY, INCLUDING BUT
NOT LIMITED TO GRIHAM.</span></strong><br />
</p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">8. PRIVACY.</span></strong><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">&nbsp;</span><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">GRIHAM does not collect any personal information
about you except when you specifically and knowingly provide it. You agree that
GRIHAM can use your personal information as described in our Privacy Policy.
Please see our Privacy Policy, which is incorporated herein by reference, for
more details.</span><br />
</p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">9. UNSOLICITED E-MAIL AND DIRECT MARKETING.</span></strong><br />
</p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">9.1 Unsolicited e-mail.</span></strong><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">&nbsp;</span><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">GRIHAM supports
responsible e-commerce. GRIHAM does not authorize anyone to use the Service to
broadcast, distribute, transmit or retransmit unsolicited commercial,
non-commercial, bulk, or junk electronic mail (&quot;SPAM&quot;).</span><br />
</p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">9.2 Reporting SPAM.</span></strong><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">&nbsp;</span><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">Users who receive
SPAM or any threatening or offensive e-mail may report it to GRIHAM by
forwarding the unedited message with the full message header to jobs@gshipping.in
or call 281-987-9600.</span><br />
</p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">9.3 Reservation of Rights.</span></strong><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">&nbsp;</span><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">GRIHAM reserves
the right to take all legal or technical steps that it deems necessary to
prevent the broadcast, distribution, transmission, or retransmission over the
Service of SPAM, junk e-mail, threatening or offensive e-mail, or e-mail
otherwise determined by GRIHAM to be objectionable in its sole discretion. GRIHAM
reserves the right to suspend or terminate any person or entity's use of or
access to the Web Site or Service if it determines in its sole and absolute
discretion that such person has used or intends to use the Web Site or Service
in violation of this policy. A failure of GRIHAM to exercise any right provided
for herein shall not be deemed to be a waiver of such right.</span><br />
</p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">10. NOTICE AND PROCEDURE FOR COPYRIGHT INFRINGEMENT
CLAIM.</span></strong><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">&nbsp;</span><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">GRIHAM, pursuant to 17 U.S.C. Section 512 as amended by Title II of the Digital
Millennium Copyright Act (the &quot;Act&quot;), reserves the right, but not the
obligation, to terminate your license to use the Web Site or Service if it
determines in its sole and absolute discretion that you are involved in
infringing activity, including alleged acts of first-time or repeat
infringement, regardless of whether the material or activity is ultimately
determined to be infringing. GRIHAM accommodates and does not interfere with
standard technical measures used by copyright owners to protect their
materials. In addition, pursuant to 17 U.S.C. Section 512(c), GRIHAM
implemented procedures for receiving written notification of claimed
infringements and for processing such claims in accordance with the Act. GRIHAM
designated agent to receive notification of claimed infringement is:</span><br />
</p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><span style="color: black">__________________</span><span style="color: black">&nbsp;</span><span style="color: black"><br />
GRIHAM CONSULTANT, BIrsa Chowk, Ranchi, Jharkhand</span></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><span style="color: black; font-family: Arial, sans-serif; font-size: 9pt">In addition, any written notice regarding any
defamatory or infringing activity, whether of a copyright, patent, trademark or
other proprietary right, should be sent to the GRIHAM designated agent, listed
above, and must include the following information: a. A physical or electronic
signature of a person authorized to act on behalf of (1) the owner of an
exclusive right that is allegedly infringed or (2) the person defamed. b.
Identification of the copyrighted work claimed to have been infringed, or, if
multiple copyrighted works at a single online site are covered by a single
notification, a representative list of such works at that site. Similarly for
other types of infringing materials, a list of such materials. c.
Identification of the material that is claimed to be infringing, to be the
subject of infringing activity, or that is claimed to be defamatory and that is
to be removed or access to which is to be disabled, and information reasonably
sufficient to permit us to locate the material. d. Information reasonably
sufficient to permit us to contact you, such as your address, telephone number,
and/or electronic mail address. e. A statement that you have a good faith
belief that use of the material in the manner complained of is not authorized
by the copyright or other proprietary right owner, its agent, or the law. f. A
statement that the information in the notification is accurate, and under
penalty of perjury, that you are authorized to act on behalf of the owner of an
exclusive right that is allegedly infringed or on behalf of the person defamed.</span><br />
</p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">11. MISCELLANEOUS</span></strong><br />
</p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">11.1 Governing Law; Limitations; Venue.</span></strong><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">&nbsp;</span><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">The laws of the
State of Texas, excluding any rule or principle that would refer to and apply
the substantive law of another state or jurisdiction, shall govern this
Agreement. To the extent allowed by applicable law, any claims or causes of
action arising from or relating to your access and use of the Web Site or
Service as contemplated by this Agreement must be instituted within two (2)
years from the date upon which such claim or cause arose or was accrued.
Further, any such claim or cause of action may EXCLUSIVELY be brought in the
state or federal courts located in Houston, Harris County, Texas, and you agree
to submit to the exclusive personal jurisdiction of such courts and hereby
appoint the Secretary of State of Texas as your agent for service of process.
You agree to waive any objection that the state or federal courts of Harris
County, Texas are an inconvenient forum.</span><br />
</p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">11.2 Attorney's Fees.</span></strong><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">&nbsp;</span><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">If GRIHAM takes
action (by itself or through its representatives) to enforce any of the
provisions of this Agreement, including collection of any amounts due
hereunder, GRIHAM is entitled to recover from you (and you agree to pay), in
addition to all sums to which it is entitled or any other relief, at law or in
equity, reasonable and necessary attorney's fees and any costs of any
litigation.</span><br />
</p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">11.3 Assignments.</span></strong><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">&nbsp;</span><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">You may not assign any of your rights, obligations,
privileges, or performance hereunder without the prior written consent of GRIHAM.
Any assignment other than as provided for in this Section 11.3 shall be null
and void.</span><br />
</p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">11.4 Severability.</span></strong><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">&nbsp;</span><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">Whenever possible,
each provision of this Agreement will be interpreted in such manner to be
effective and valid under applicable law, but if any provision of this
Agreement is prohibited or invalid under applicable law, such provision will be
ineffective to the extent of such prohibition or invalidity without
invalidating the remainder of such provision or the remaining provisions of
this Agreement.</span><br />
</p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">11.5 U.S. Government Restricted Rights.</span></strong><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">&nbsp;</span><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">The materials on
the Web Site are provided with &quot;RESTRICTED RIGHTS.&quot; Use, duplication
or disclosure by the Government is subject to restrictions as set forth in
applicable laws and regulations. Use of the materials by the Government
constitutes acknowledgement of GRIHAM's proprietary rights in them.</span><br />
</p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">11.6 Termination.</span></strong><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">&nbsp;</span><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">GRIHAM may terminate or suspend your use of the Web
Site for any reason. Termination or cancellation of your use of the Web Site
shall not effect any right or relief to which GRIHAM may be entitled, at law or
in equity. Upon termination of this Agreement, all rights granted to you will
terminate and revert to GRIHAM.</span><br />
</p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">11.7 Survival.</span></strong><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">&nbsp;</span><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">The provisions contained in Sections 6, 7 and 11
shall survive any termination or expiration of this Agreement.</span><br />
</p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">11.8 Notice.</span></strong><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">&nbsp;</span><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">Official correspondence must be sent via postal
mail to:</span><br />
</p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><span style="color: black">GRIHAM Houston, Inc.<br />
Birsa Chowk, Ranchi,&nbsp;</span><span style="color: black; font-family: Arial, sans-serif; font-size: 9pt">Jharkhand</span></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt"><strong><span style="color: black">11.8 Entire Agreement.</span></strong><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">&nbsp;</span><span style="font-size: 9pt; font-family: Arial, sans-serif; color: black">This Agreement is
complete and effective at the time you access or use the Website or the
Service. This Agreement constitutes the entire agreement between the parties,
and no other agreement, written or oral, exists between you and GRIHAM.</span><br />
</p>
<p class="MsoNormal">
&nbsp;</p></td>  </tr></table>
</div>										    </td>
											 
									  </tr>
									</table>                              </td>
							</tr>
							<!-- Begin FOOTER -->
							<tr>
								<td align="center" class="magin"></td>
							</tr>
							<!-- End FOOTER -->

							<!-- Begin BOTTOM -->
							<tr>
								<td align="center" class="magin"><div>
<div><img src="/cgi-sys/Count.cgi?df=sohkmypd-navy.dat|display=Counter|ft=2|md=7|frgb=0;0;0|dd=V"><br />
</div>&nbsp;</div></td>
							</tr>
							
<!-- End BOTTOM -->
<tr><td align="center" class="content_margin_bottom"></td></tr>

							<tr>
							  <td align="center" valign="bottom">
									<table cellpadding="0" cellspacing="0">
										<tr>
											<td align="center" valign="bottom" class="marginpw"></td>
											<td width="8"></td>
											<td align="center" valign="bottom" class="marginpw"></td>
										</tr>
									</table>                              </td>
							</tr>
						</table>                    </td>
                    <td class="bg_r"><img src="images/spacer.gif" width="28" height="1"  /></td>
                </table>
            </td>
        </tr>
        <tr>
        	<td>
            	<table cellpadding="0" cellspacing="0" width="100%">
                	<tr>
                    	<td align="left" class="bg_l"><img src="images/img_02.jpg" width="52" height="44" /></td>
                        <td class="bottom" width="99%"><img src="images/spacer.gif"  width="1" height="44" /></td>
                        <td align="right" class="bg_r"><img src="images/img_03.jpg" width="37" height="44" /></td>
                   </tr>
                </table>
            </td>
        </tr>
    </table>