<div class="contect-form-ui">
  <form>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 form-control-label">First Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputEmail3" placeholder="First Name">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 form-control-label">Last Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputEmail3" placeholder="Last Name">
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 form-control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 form-control-label">Phone No</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="inputPassword3" placeholder="Phone No">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 form-control-label">Message</label>
    <div class="col-sm-10">
      <textarea class="form-control" placeholder="Message"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-info">Submit</button>
    </div>
  </div>
  </form>
  <div>
    <p><strong>Registered Office Address:</strong>Shop No.8, 1st Floor, Anand Plaza, Near Indra Palace, P.O. Hinoo, Ranchi-834002, Jharkhand</p>
    <p><strong>Contact Number :</strong>0651-3242856(O), +91-98529-12239 (M), +91-93344-50444 (M)</p>
    <p><strong>E-mail :</strong> info@griham.in / santosh@griham.in</p>
  </div>
</div>