<div>
    <h2 class="heading">Welcome to <i>Griham Marine Services</i></h2>
    <div>
    	<span style="font-size: 18px;font-weight: normal;line-height: 20px;text-align: justify;font-family: 'Comic Sans MS', sans-serif;"><strong>From The Desk Of DIRECTOR (Abhishek Anand -Deck Officer)</strong></span>
    	<p style="font-family: Arial, Helvetica, sans-serif;font-size: 16px;margin: 13px 0px 22px 0px;font-weight: normal;line-height: 29px;text-align: justify;">Welcome to Griham Marine Services one-Stop solution for Merchant Navy career guidance, Griham Marine Services is First   Premium career centre  dedicated to Promote Merchant Navy as career, Situated in capital city of Jharkhand, Ranchi. Griham Marine Services have dedicated and  competent Mariners, academic Professionals and Psychologist providing complete Merchant Navy career counselling with proper risk free placement guidance.</p>
    </div>
    <div>
    	<span style="color: #444444;font-family: Verdana, Geneva, sans-serif;font-size: 18px;line-height: 18px;text-decoration: underline;"><strong>Hari Om Sharma (Recruiting Officer) Says about Marine Jobs</strong></span>
    	<p style="font-family: Arial, Helvetica, sans-serif;font-size: 16px;margin: 13px 0px 22px 0px;font-weight: normal;line-height: 29px;text-align: justify;">Merchant Navy jobs are not easy always it is a very hot and  challenging job. Candidates who want to make their career in Merchant Navy they can join the Merchant    Navy  after the pass out <em>10th</em> and <em>12th class</em>. Various institute offers many course for admit into Merchant Navy.  Candidates are required to check regularly our Recruitment Zone.</br></br>
    	Candidates who want to <em>apply form</em> of Merchant Navy they can <em>download or apply online</em> . If the candidates have any query related to Merchant Navy Recruitment and application form you can post your comment at our website Contact Zone or request a Call Back from our Experts.</p>	
    </div>
    
    
</div>