<div class="recuti-ui">
    <div style="margin-bottom: 18px;text-align: center;">
      <h2 align="center">Our Recent Openings</h2>  
      <span>Any CDC holders may apply</span>    
    </div>
    <div>
        <table class="table table-striped table-bordered">
          <thead class="thead-default">
            <tr>
              <th>Deck</th>
              <th>Engine</th>
              <th>Catering (Saloon)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Deck Cadet</strong>-  <a title="" href="#">Apply Now</a></td>
              <td><strong>Engine Cadet</strong>-  <a title="" href="#">Apply Now</a>
              </td>
              <td><strong>Cheif Cook</strong>-  <a title="" href="#">Apply Now</a></td>
            </tr>
            <tr>
              <td><strong>OS (Ordinary Seaman)</strong>-  <a title="" href="#">Apply Now</a></td>
              <td><strong>Fitter</strong>-  <a title="" href="#">Apply Now</a></td>
              <td><strong>2nd Cook</strong>-  <a title="" href="#">Apply Now</a></td>
            </tr>
             <tr>
              <td><strong>GP ( General Purpose Rating)</strong>-  <a title="" href="#">Apply Now</a></td>
              <td><strong>Oiler</strong>-  <a title="" href="#">Apply Now</a></td>
              <td><strong>Assistant Cook</strong>-  <a title="" href="#">Apply Now</a></td>
            </tr>
            <tr>
              <td><strong>Electrical Officer</strong>-  <a title="" href="#">Apply Now</a></td>
              <td><strong>Wiper</strong>-  <a title="" href="#">Apply Now</a></td>
              <td><strong>&nbsp;</td>
            </tr>
        </tbody>
      </table>
    </div>
</div>
