<div class="text-style">
	<div>
		<h2>Good Wages</h2>

		<p>Wages earned by seafarers are normally very generous compared to comfortable similar professions ashore. Seagoing officers are assured a very standard of living and are usually within the upper income bracket of their national populations.</br></br>
		
		In India, a 22 years old working on a ship, newly qualified as a third officer, can earn a "take home" salary that is comparable to what many shore-based university graduates might hope to earn in their 30s.</br></br>
		
		In developing world countries, ships' officers working on internationally trading ships are amongst the very highest paid in their countries. Opportunities for accumulating savings, even when young, are considerable (unlike most people, officers have relatively few expenses when working at sea as accommodation, travel and food are met by the employer).</br>
		
		The real value of wages may often be substantially greater because they are frequently tax free.</br></br>
		
		Officers who stay at sea can be promoted rapidly, eventually becoming a captain or chief engineer when wages can be very considerable indeed.</br></br>
		
		Wages obviously vary according to the country in which you live and the shipping company you work for. Some types of ship require specialized skills for which pay may be higher than others. More detailed information will be available from national sources.</p>
	</div>

	<div class="content-ui">
		<span><strong>EARLY RESPONSBILITY</strong></span>
		<div>
			<img class="image-width" src="images/cargo-ship-pollution.jpg" alt="img">	
		</div>
		<div>
			<p>
			Ships officers take on considerable responsibility right from the start of their careers. They ensure the safety of their ships, the live of their shipmates and protect of the marine environment.</br></br>
			Officer trainees usually learn the professional skills required through combining education at specialist instruction and practical training on ships and can expect to qualify as either a either a Deck or Engineer officer at the "Operational Level" with in 3 or 4 years of starting maritime education and training.</br></br>

			As a junior officer, reporting to senior officers, you will supervise the work of "ratings" - seafarers qualified at the "support Level" within 10 years of commencing specialist maritime education and training, it is possible to qualify as a captain with total responsibility for the operation of a ship and the management of its crew.
		</p>		
		</div>
	</div>
	<div class="content-ui">
		<span><strong><br>OPPORTUNITIES FOR GLOBAL TRAVEL</strong></span>
		<div>
			<img class="image-width" src="images/cargo-ship-pollution.jpg" alt="img">		
		</div>	
		<div>
			<p>
				Although modern ships spend less time in port than 25 years ago, a career in shipping still means that you can literally travel to almost anywhere in the world, with the interest and experience this brings.</br></br>

				Many ships trade "anywhere"- not just the usual business or holiday destinations.</br></br>

				Because shipping is a unique international industry, it is common for seafarers to progress eventually to shore based work in shipping offices all around the world- from Los Angeles to Hong Kong, to Tokyo or London, the opportunities are endless.</br></br>

				By embarking on a career in shipping you are joining a special international network of contacts and associates.
			</p>
		</div>	
	</div>
	<div class="content-ui">
		<span><strong><br>GOOD LONG TERM PROSPECTS</strong></span>
		<div>
			<img class="image-width" src="images/cargo-ship-pollution.jpg" alt="img">	
		</div>
		<div>
			<p>
				There is a need for more qualified ships' officer to meet the skills required by international shipping companies.</br></br>

				Industry predictions suggest that this requirement will increase in the next few years, especially if the world economy (and population) continues to expand as expected, and the quantity of goods moved by sea continues to increase.</br></br>
				Many senior personnel are shortly due to retire so there are excellent prospects of fast advancement for keen personnel.</br></br>

				Career opportunities extend to shore-based management jobs requiring people with seagoing experience. So a career at sea may not mean a lifetime at sea.
			</p>
		</div>		
	</div>
	<div class="content-ui">
		<span><strong><br>CAREER FLEXIBILITY & SECURITY</strong></span>
		<div>
			<img class="image-width" src="images/cargo-ship-pollution.jpg" alt="img">
		</div>
		<div>
			<p>
				Shipping is an ideal occupation for individuals seeking something exciting, but who also want to be confident of enjoying a traditional career should they wish in the future.</br></br>

				Today's working environment is increasingly uncertain. A career in shipping can combine security of employment with flexibility and opportunity.</br></br>

				Merchant ships' officers hold internationally recognized qualifications meeting standard agreed by the United Nations.</br></br>

				Many seafarers work for shipping companies based in the countries where they live. But most officers are also qualified to work for the thousands of international shipping companies located all around the world, on ships flying the flag of most countries.</br></br>

				Other may decide only after a few years at sea to use their qualifications a experience to find employment in one of the large no professional jobs servicing the shipping industry- e.g. Shipping company management, marine surveying, maritime law and insurance, working as a broker finding cargoes for ships, or even buying and selling ships! Skills and experience gained at sea readily transferable to other industries outside merchant shipping.
			</p>
		</div>
	</div>
	<div class="content-ui">
		<span><strong><br>LONG HOLIDAYS</strong></span>
		<div>
			<img class="image-width" src="images/cargo-ship-pollution.jpg" alt="img">		
		</div>
		<div>
			<p>
				In most jobs, it is normally only possible to take a maximum of two or three weeks holiday at one time once in a year, and total annual holidays are of course far less than you may be used to at college and school.</br></br>

				In shipping, however, seafarers generally enjoy very generous leave or holiday periods (with the cost of return airlines flight paid by the company as an international legal requirement).</br></br>

				Exact terms will vary, but on "short sea" trades a system of one month working followed by one month paid holiday is often applied. On intercontinental or "deep sea" trades, leave periods of several months' duration are not uncommon.</br></br>

				So while seafarers are inevitably away from home for long periods, they also enjoy flexibility to pursue other interest at home, or spend extended periods of time with their families.
			</p>
		</div>
	</div>
	<div class="content-ui">
		<span><strong><br>DOING SOMETHING EXCITING</strong></span>
		<div>
			<img class="image-width" src="images/cargo-ship-pollution.jpg" alt="img">		
		</div>
		<div>
			<p>
				A ship is a unique environment because it is home to those working on board, and there is a special relationship between seafarers, who enjoy a stimulating life which is different to the experience of people working ashore.</br></br>

				Merchant seafaring is a civilian occupation. Although strict adherence to safe working practice is essential, team work is essential to creating a positive conducive working environment.</br></br>

				There are many opportunities for socializing, both on board ships and during visits to foreign ports. Life of board ship can be very cosmopolitan, with many different nationalities of seafarer working together. Joining the shipping industry is actually like belonging to an international club.
			</p>
		</div>
	</div>
	<div class="content-ui">
		<span><strong><br>THE SATISFACTION OF DOING SOMETHING USEFUL</strong></span>
		<div>
			<img class="image-width" src="images/cargo-ship-pollution.jpg" alt="img">		
		</div>
		<div>
			<p>
				Today's Competitive world sometimes makes it difficult to fully understand the value of most jobs.</br></br>

				Shipping, however, is key to the global economy, responsible for carrying over 90% of the world's trade.</br></br>

				Without shipping the world economy would collapse. It would be impossible to transport the quantities of food, raw materials and manufactured products the world currently takes for granted.</br></br>

				People working at sea have the satisfaction of knowing that shipping is also the safest and most environmentally friendly form of commercial transportation, and that they are playing a vital role in ensuring efficient global trade
			</p>
		</div>
	</div>
</div>